<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{.Site.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {{block "nav" .}}{{end}}
    <main class="container my-4">
    {{block "main" .}}{{end}}
    </main>
    {{block "foot" .}}
    <footer class="container">
      <hr />
      <p class="text-right">developped by <strong>{{.Site.Author}}</strong> (last updated <em>{{ now.Format "2006-01-02"}}</em>)</p>
    </footer>
    {{end}}
  </body>
</html>
